* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 1px currentColor solid;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 4px;

  font-weight: 100;
  font-family: sans-serif;
  padding: 4px;
}
